@import '../../scss/variable';
@import 'sass-mq/_mq.scss';

.detail {
  display: flex;

  &__section {
    width: 70%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__box {
    border-top:1px solid $black;
    border-bottom: 1px solid $black;
    margin: 3rem 0;
    padding: 3rem 0;
  }

  &__cont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }

  &__desc {
    margin-top: 2rem;
  }

  &__aside {
    width: 30%;
  }
}

.user-box {
  display: flex;
}

.user {
  &__img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__name {
    display: block;
  }
}

.comment {
  &__num {
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
  }

  &__ta {
    width: calc(100% - 170px);
  }

  &__btn {
    width: 170px;
    color: $white;
    background-color: $black;
  }

  &__reply {
    padding-left: 6rem;
  }
}