.detail {
  display: flex;

  &__section {
    width: 70%;
    background-color: pink;
  }

  &__video {
    //
    padding-top: 40%;
    background-color: black;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
  }
}

.user-box {
  display: flex;
}

.user {
  &__img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: palegoldenrod;
  }

  &__name {
    display: block;
  }
}
