@import '../../scss/variable';
@import 'sass-mq/_mq.scss';

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $h-header;

  &__list {
    display: flex;
  }

  &__d1 {
    & + & {
      margin-left: 2rem;
    }
  }
}