@import '../../scss/variable';
@import 'sass-mq/_mq.scss';

.dropzone {
  position: relative;
  width: 50%;
  padding-top: 40%;
  height: 0;
  border: 1px solid $black;

  &::before, 
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    content: '';
  }

  &::before {
    width:2px;
    height: 50px;
  }

  &::after {
    height: 2px;
    width:50px;
  }
}