@import '../../../scss/variable.scss';
@import 'sass-mq/_mq.scss';

.side-video {
  box-sizing: border-box;
  padding-left: 7rem;
  .item {
    &__link {
      display: flex;
    }

    &__img-box {
      display: inline-block;
      width: 50%;
    }
  }
}