@import '../../scss/variable';
@import 'sass-mq/_mq.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $h-footer;
  margin-top: 12rem;
  background-color: $gray0;
}