@import './variable';
@import './normalize';
@import './form';

@import 'sass-mq/_mq.scss';

.main {
  box-sizing: border-box;
  min-height: calc(100vh - #{$h-header} - #{$h-footer});
  padding-top: 6rem;
}

.page-title {
  margin-bottom: 3rem;
}

.h6 {
  font-size: 1.8rem;
}

.l-wrap {
  max-width: 1400px;
  margin: auto;

  &--narrow {
    max-width: 560px;
  }
}

.a11y {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.video {
  $item: 4;
  $column-gap: 15px;
  $row-gap: 30px;

  width: calc((100% / #{$item}) - (#{$column-gap}) * 2);
  margin: 0 $column-gap $row-gap;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$column-gap;
    margin-right: -$column-gap;
  }

  &__link {
    display: block;
  }

  &__img-box {
    position: relative;
    display: block;
    padding-top: 75%;
    height: 0;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0.2rem;
    font-size: 1.4rem;
    border-radius: 3px;
    background-color: $black;
    color: $white;
  }

  &__cont {
    position: relative;
    padding: 2rem 2rem 0 7rem;
  }

  &__user-img {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
    background-color: pink;
    border-radius: 50%;
  }

  &__detail {
    display: inline-block;
  }

  &__title {
    word-break: break-all;
  }

  &__user {
    display: block;
  }

  &__views {
    &::after {
      display: inline-block;
      width: 2px;
      height: 2px;
      margin: 3px 4px;
      background-color: $black;
      content: '';
    }
  }
}
