//grayscale
$gray0: #f5f5f5;
$gray1: #e5e5e5;
$gray2: #ccc;
$gray3: #666;
$gray4: #333;
$gray5: #191919;

$primary-light: #d4cdf7;
$primary: #8d78df;
$primary-dark: #2e1766;

$color-confirm: #156a94;
$color-err: #B80000;

$black: #000;
$white: #fff;

$h-footer: 70px;
$h-header: 60px;
